:root {
  /** primary - tailblue **/
  --ion-color-primary: #041727;
  --ion-color-primary-rgb: 4, 23, 39;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #041522;
  --ion-color-primary-tint: #1d2e3d;

  /** secondary - lighter shade of tailblue **/
  --ion-color-secondary: #1a3346;
  --ion-color-secondary-rgb: 26, 51, 70;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #172c3e;
  --ion-color-secondary-tint: #314759;

  /** background **/
  --ion-background-color: #ffffff;
  --ion-background-color-rgb: 255, 255, 255;

  /** text **/
  --ion-text-color: #000000;
  --ion-text-color-rgb: 0, 0, 0;

  /** item **/
  --ion-item-background: #ffffff;
  --ion-item-border-color: #dedede;

  /** toolbar **/
  --ion-toolbar-background: #041727;
  --ion-toolbar-color: #ffffff;
}
// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
