/* Dashboard Page Styles */

ion-toolbar {
    --background: #3880ff;
    --color: #fff;
  }
  
  .metric-card, .summary-card, .chart-card {
    text-align: center;
    padding: 10px;
    border-radius: 12px;
    background: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .metric-icon, .card-icon {
    font-size: 32px;
    color: #3880ff;
    margin-bottom: 6px;
  }
  
  .metric-title {
    font-weight: bold;
    font-size: 14px;
    color: #333;
  }
  
  .metric-value {
    font-size: 20px;
    font-weight: bold;
    color: #222;
    margin-top: 8px;
  }
  
  .section-title {
    font-size: 18px;
    margin-top: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .quick-actions-row ion-button {
    margin-top: 10px;
  }
  
  .receipt-icon {
    font-size: 24px;
    color: #10dc60
  }